body {
    background: rgb(60, 60, 60);
    color: #fff;
}

.App {
    max-width: 800px;
    margin: 0 auto;
}

.App-header {
    text-align: center;
    font-size: 48px;
    margin: 30px;
    font-weight: 500;
}

.App-footer {
    text-align: center;
    margin-top: 15px;
}