.Dictionary section {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 98);
    margin: 15px 0;
}
.Dictionary h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.Dictionary form {
    border: none;
}

.Dictionary input {
    width: 100%;
    padding: 5px 10px;
    color: darkslategray;
}

.Dictionary .hint {
    font-size: 12px;
    margin-top: 10px;
}